{{ form_errors(form) }}

{{ form_row(form.is_file_changed) }}

<div>
    {{ form_row(form.name) }}
    {{ form_row(form.file) }}
</div>

<div class="media" style="padding-top:20px">
    {% if form.get('value').path is defined and form.get('value').path is not null %}
        <a href="{{ path('wbxFileBundle_download', { 'id': form.get('value').id, 'class': class }) }}">
            {% if imagine_filter is not defined or imagine_filter == "" %}
                download
            {% else %}
                <img src="{{ form.get('value').getWebPath() | imagine_filter(imagine_filter) }}" />
            {% endif %}
        </a>
    {% elseif show_default_image is defined and show_default_image %}
        <img src="{{ "/bundles/wbxfile/images/default.png" | imagine_filter(imagine_filter) }}" />
    {% endif %}
</div>

<div class="clear"></div>

<div>
    {% if form.to_empty is defined %}
        {{ form_row(form.to_empty) }}
    {% endif %}
</div>

{{ form_rest(form) }}