{{ form_errors(form) }}

{# TODO : create a custon filed type instead of overriding hidden_widget #}
{% form_theme form 'wbxFileBundle:File:form.html.twig' %}

{{ form_row(form.is_file_changed) }}

<div>
    {{ form_row(form.name) }}
    {{ form_row(form.file) }}
</div>
<div style="padding-top:20px">
    {% if form.get('value').path is defined and form.get('value').path is not null %}
        <a href="{{ path('wbxFileBundle_download', { 'id': form.get('value').id }) }}">
            {% if imagine_filter is not defined or imagine_filter == "" or not form.get('value').getIsWebImage() %}
                download
            {% else %}
                <img src="{{ form.get('value').getWebPath() | apply_filter(imagine_filter) }}" />
            {% endif %}
        </a>
    {% endif %}
</div>

<div class="clear"></div>

{{ form_rest(form) }}