{{ form_errors(form) }}

{{ form_row(form.is_file_changed) }}

<div>
    {{ form_row(form.name) }}
    {{ form_row(form.file) }}
</div>
<div style="padding-top:20px">
    {% if entity is defined and entity is not null %}
        {% if entity.path is defined and entity.path is not null %}
            <a href="{{ entity.getWebPath() }}">
                {% if imagine_filter is not defined or imagine_filter == "" %}
                    {{ entity.path }}
                {% else %}
                    <img src="{{ entity.getWebPath() | apply_filter(imagine_filter) }}" />
                {% endif %}
            </a>
        {% endif %}
    {% endif %}
</div>

<div class="clear"></div>

{{ form_rest(form) }}