{{ form_errors(form) }}

{{ form_row(form.is_file_changed) }}

<div>
    {{ form_row(form.name) }}
    {{ form_row(form.file) }}
</div>
<div style="padding-top:20px">
    {% if form.get('value').path is defined and form.get('value').path is not null %}
        <a href="{{ form.get('value').getWebPath() }}">
            {% if imagine_filter is not defined or imagine_filter == "" %}
                {{ form.get('value').path }}
            {% else %}
                <img src="{{ form.get('value').getWebPath() | apply_filter(imagine_filter) }}" />
            {% endif %}
        </a>
    {% endif %}
</div>

<div class="clear"></div>

{{ form_rest(form) }}